<% title 'Releases' %>

<div id="toolbarcontainer">
	<div id="toolbar">
		<%= text_field_tag "search", nil, :size => 50 %> <%= image_tag "ajax-loader.gif" %>
	</div>
</div>

<p>
Publisher
<%= select :release, 
		   :publisher, 
		   {"All publishers" => "all","Touch" => "Touch", "Ash International" => "Ash International", "OR" => "OR"}.sort,
		   {:selected => params[:publisher]},
		   {:onchange => "document.location = '/releases/publisher/' + this.value"}%>
</p>

<% if current_admin %>
<p>
	<%= link_to 'Add new release', new_release_path %>
</p>
<% end %>

<table cellpadding="10">
	<tr id="headers">
		<td>Catalogue Number</td>
		<td>Artist</td>
		<td>Title</td>
		<td>Release Date</td>
		<td>Publisher</td>
		<td>Status</td>
		<% if current_admin %>
			<td>Actions</td>
		<% end %>
	</tr>
	<%= render :partial => "release", :collection => @releases %>
</table>

<% if current_admin && !@releases.empty? %>
<p>
	<%= link_to 'Add new release', new_release_path %>
</p>
<% end %>